.input-holder {
  position: relative;
}
.input-holder input {
  padding: 15px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  width: 250px;
}
.input-holder .label {
  transition: all 0.3s;
  position: absolute;
  left: 7%;
  top: 30%;
  z-index: -1;
}

/* to make sure the effect is on when the user types smt and no focus */
input:focus + .label,
input:not(:placeholder-shown) + .label {
  z-index: 1;
  position: absolute;
  background-color: white;
  left: 3%;
  top: -20%;
  padding: 0px 5px;
}
