.btn-wrapper {
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding: 15px 40px;
  border-left: 2px solid;
  border-right: 2px solid;

  color: black;
  margin-top: 15px;
  overflow: hidden;
  text-transform: capitalize;
}

.btn-wrapper::after {
  background: linear-gradient(
    to right,
    black 15%,
    transparent 15%,
    transparent 50%,
    transparent 50%,
    transparent 85%,
    black 85%
  );
  transition: 1.5s;
  content: '';
  height: 2px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.btn-wrapper::before {
  background: linear-gradient(
    to right,
    black 15%,
    transparent 15%,
    transparent 50%,
    transparent 50%,
    transparent 85%,
    black 85%
  );
  height: 2px;
  transition: 1.5s;
  content: '';

  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.btn-wrapper:hover.btn-wrapper::after {
  right: -700%;
  background: linear-gradient( black 100%);
  transition: 1s;
}
.btn-wrapper:hover.btn-wrapper::before {
  left: -700%;
  background: linear-gradient(to right, black 100%);
  transition: 1s;
}
