.btn {
  cursor: pointer;
  position: relative;
  padding: 15px 40px;
  border-left: 2px solid;
  border-right: 2px solid;
  width: fit-content;
  color: var(--primary);
  overflow: hidden;
  text-transform: capitalize;
}

.btn::after {
  background: linear-gradient(
    to right,
    var(--primary) 15%,
    transparent 15%,
    transparent 50%,
    transparent 50%,
    transparent 85%,
    var(--primary) 85%
  );
  transition: 1s;
  content: '';
  height: 2px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.btn::before {
  background: linear-gradient(
    to right,
    var(--primary) 15%,
    transparent 15%,
    transparent 50%,
    transparent 50%,
    transparent 85%,
    var(--primary) 85%
  );
  height: 2px;
  transition: 1s;
  content: '';

  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.btn:hover.btn::after {
  right: -700%;
  transition: 1s;
}
.btn:hover.btn::before {
  left: -700%;
  transition: 1s;
}
