.dot {
  width: 15px;
  height: 15px;
  background-color: #f1f2f6;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;
  animation-name: dotsAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: 0.5s;
}
.dot:nth-child(3n) {
  animation-delay: 0.8s;
}
.dot:nth-child(3n - 1) {
  animation-delay: 0.5s;
}
.dot:nth-child(3n - 2) {
  animation-delay: 0.1s;
}


@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
    background-color: var(--primary);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
