.search-container {
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-input {
  outline: none;
  border: none;
  width: 0px;
  transition: 0.5s;
}

.search-input-visible {
  width: 210px;
}
