.search-container {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-input {
  outline: none;
  border: none;
  width: 0px;
  transition: 0.5s;
  font-size: 18px;
}
.search-icon {
  transform: rotate(45deg);
  font-size: 20px;
  transition: 0.6s;
}
.search-icon-animation {
  transform: rotate(0);
  color: var(--primary);

}

.search-input-visible {
  width: 210px;
}
